html, body {
	margin:0;
	padding: 0;
	background-color: #e3e8ee;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@import 'responsible';

button > * {
	pointer-events:none;
}