._fl_left {
	float: left;
}

._fl_right {
	float: right;
}

._txt_align_center {
	text-align: center;
}

._txt_align_right {
	text-align: right;
}

._txt_align_left {
	text-align: left;
}

._divider {
	border-bottom: 2px solid rgba(72, 90, 108, 0.2);
	margin: 0px 20px 0px 20px;
	box-sizing: border-box;
}

.app__row {
	width: 100%;
	height: auto;

	.app__column {
		height: auto;
		float: left;
	}

	._50_col, ._30_col, ._33_col, ._25_col, ._75_col, ._100_col {
		box-sizing:border-box;
		float: left;
	}

	@media (min-width:300px) and (max-width:500px) {
		._50_col, ._30_col, ._33_col, ._25_col, ._75_col, ._80_col, ._100_col {
			width: 100%;
		}
	}

	@media (min-width: 500px) and (max-width:768px) {
		._50_col, ._30_col, ._33_col, ._25_col, ._75_col, ._80_col, ._100_col {
			width: 100%;
		}
	}

	@media (min-width: 768px) and (max-width: 992px) {
		._50_col {
			width: 50%;
		}

		._30_col {
			width: 30%;
		}

		._33_col {
			width: 33.33333%;
		}

		._25_col {
			width: 25%;
		}

		._75_col {
			width: 75%;
		}

		._80_col {
			width: 80%;
		}

		._100_col {
			width: 100%;
		}
	}

	@media (min-width: 992px) and (max-width: 1200px) {
		._50_col {
			width: 50%;
		}

		._30_col {
			width: 30%;
		}

		._33_col {
			width: 33.33333%;
		}

		._25_col {
			width: 25%;
		}

		._75_col {
			width: 75%;
		}

		._80_col {
			width: 80%;
		}

		._100_col {
			width: 100%;
		}
	}

	@media (min-width: 1200px) {
		._50_col {
			width: 50%;
		}

		._30_col {
			width: 30%;
		}

		._33_col {
			width: 33.33333%;
		}

		._25_col {
			width: 25%;
		}

		._75_col {
			width: 75%;
		}

		._80_col {
			width: 80%;
		}

		._100_col {
			width: 100%;
		}
	}
}