@import "common";

.app--dashboard {
    width: 100%;
    height: 100vh;
    background-color: #000;

    .app--header, .app--body, .app--footer {
        width: 100%;
        float: left;
    }

    .app--header {
        height: 60px;
        display: flex;
        justify-content: space-between;

        .app--header--section {
            min-width: 100px;
            width: auto;
            height: 60px;
        }
    }

    .app--body {
        height: calc( 100vh - 120px );
    }

    .app--footer {
        height: 60px;
    }
}