@import 'common';

.app--frontend {
    width: 100%;
}

.app--login-wrapper {
    width: 100%;
    height: auto;
    min-width: 300px;
    max-width: 600px;

    font-family: monospace;
    
    max-height: calc( 100%-100px );
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    background-color: white;
    border-radius: 2.5px;

    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);

    display: flex;
}

.app--login-descr, .app--login-form {
    float: left;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

.app--login-descr {
    width: 200px;
}

.app--login-form {
    width: 100%;
    flex: 1;
}

input[type='text'] {
    width: 100%;
    height: 32px;
    float: left;
    border-radius: 2.5px;
    border: 1px solid #EEE;
    text-indent: 10px;
    font-family: monospace;
}

.input--text:not(:last-child) {
    margin-bottom: 10px;
}