{{template "bk_header"}}
<div class='app--dashboard'>
    <div id='app--header' class='app--header'>
        <div id='app--section1' class='app--header-section'></div>
        <div id='app--section2' class='app--header-section'></div>
        <div id='app--section3' class='app--header-section'></div>
    </div>
    <div id='app--body' class='app--body'></div>
    <div id='app--footer' class='app--footer'></div>
</div>
<script>
    const render_page='dashboard';
</script>
{{template "bk_footer"}}