{{ define "fr_header" }}
<html>
    <head>
        <title>{{ .PageTitle }}</title>
        <link rel='stylesheet' type='text/css' href='/css/frontend.css'>
        <script src="/js/frontend.js"></script>
    </head>
    <body class='app--frontend'>
{{end}}