{{template "fr_header"}}
<div class='app--login-wrapper'>
    <div class='app--login-descr'>

    </div>
    <div class='app--login-form'>
        <input type='text' class='input--text'/>
    </div>
</div>
{{template "fr_footer"}}